@import url('https://use.typekit.net/sad0exe.css');

@tailwind base;

body {
  @apply text-base font-normal font-body;
}

h1 {
  @apply text-3xl font-display font-bold mb-2xl;
}

h2 {
  @apply text-2xl font-display font-bold mb-2xl;
}

h3 {
  @apply text-xl font-display font-bold mb-xs;
}

p + p {
  @apply mt-2xl;
}

input,
textarea {
  @apply appearance-none bg-transparent;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  @apply border-b py-sm leading-tight;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
textarea:focus {
  @apply outline-none border-pumpkin;
}

.radio {
  @apply flex items-center mb-md cursor-pointer;
}

input[type='checkbox'] ~ div .active {
  @apply opacity-0;
}
input[type='checkbox']:checked ~ div .active {
  @apply opacity-100;
}

@tailwind components;

.number {
  @apply inline-block text-pumpkin mr-lg;
}

.list {
  @apply pb-xl pl-xl;
}

.list li {
  @apply mb-xl relative;
}
.list li:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  left: -1.5em;
  top: 0.5em;
  @apply bg-pumpkin absolute;
}

.surtitle {
  @apply text-xs font-semibold uppercase mb-0;
}

.link,
.btn,
.btn:after,
input {
  @apply transition duration-300 ease-in-out cursor-pointer;
}

.link {
  @apply font-semibold inline-block py-xs border-b-2 border-pumpkin cursor-pointer;
}

.link:hover {
  @apply border-greyishBrownTwo;
}

.link:focus {
  @apply border-battleshipGrey text-battleshipGrey;
}

.btn {
  @apply inline-block font-semibold py-lg px-2xl bg-pumpkin text-white text-sm relative;
}

.btn:after {
  content: '';
  display: block;
  width: 24px;
  height: 31px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 31'%3E%3Cdefs/%3E%3Cpath fill='%23e87a00' d='M0 0h24L0 31z'/%3E%3C/svg%3E");
  @apply absolute top-0 right-0 bg-pumpkin;
  transform: translateX(100%);
}

.btn:hover,
.btn:hover:after {
  @apply bg-greyishBrownTwo;
}

.btn:focus,
.btn:focus:after {
  @apply bg-battleshipGrey;
}

.pictogramme {
  width: 152px;
  height: 152px;
  @apply bg-white mx-auto flex items-center justify-center;
}

.navigation {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-btn span {
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;

  @apply bg-greyishBrownTwo;
}

.menu-btn span:first-child {
  transform-origin: 0% 0%;
}
.menu-btn span:last-child {
  margin-bottom: 0;
}

.menu-btn span:last-child {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menu-btn-active span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -2px);
}

/*
  * But let's hide the middle one.
  */
.menu-btn-active span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
.menu-btn-active span:nth-last-child(1) {
  transform: rotate(-45deg) translate(-2px, 0px);
}

table th {
  @apply text-left text-greyishBrown font-semibold border-b-2 border-silver text-xs uppercase mb-0 py-xs;
}

.swiper-pagination {
  @apply text-white text-lg font-semibold;
}

.slider-button-prev,
.slider-button-next {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  opacity: 0.3;
  border: solid 2px white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: opacity 250ms ease-in;
  transform: translateY(-50%);
}
.slider-button-prev:hover,
.slider-button-next:hover {
  opacity: 1;
}
.slider-button-prev {
  left: 1rem;
}
.slider-button-next {
  right: 1rem;
}

@tailwind utilities;

.image-wrapper {
  @apply relative overflow-hidden;
}

.thin-border {
  @apply pt-lg mt-lg border-t border-literalDown border-opacity-50;
}
